/* Adaptation mdl */
.mdl-layout__content {
    overflow-x: auto;
}

.mdl-layout__drawer {
    background-color: rgb(96,125,139);
}
.mdl-layout__drawer .mdl-layout-title {
    color: white;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: black;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: rgba(158,158,158,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

/* extension mdl */
#filterdiv {
    vertical-align: middle;
}

/* Style de la page */

#content {
    text-align: center;
}
body {
    background-color: #555;
    color: #CACACA;
}
#header {
    height: 28px;
    width: 100%;
    z-index: 10;
    background-color: #333;
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, .25);
    padding-top: 4px;
}
input[type=button] {
    cursor: pointer;
    background-color: #8E8E8E;
    border: none;
    border-radius: 0 9px 9px 0;
    padding: 1px 3px;
}
#filter {
    height: 17px;
    border-radius: 9px 0 0 9px;
}
#get {
    height: 21px;
}
#filterdiv {
    display: none;
    position: absolute;
    min-width: 175px;
    right: 0;
    top: 50px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, .24), 0 1.5px 6px rgba(0, 0, 0, .12);
}
#filterdiv .tabs {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
#filterdiv .tabs li {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: #888;
}
#filterdiv .tabs li.current {
    color: #FFF;
}
#filterdiv .tab-content {
    display: none;
    padding: 10px;
}
#filterdiv .tab-content.current {
    display: inherit;
}
#filterdiv .filter-group {
    margin: 10px 0;
}
#filterdiv .filter-header {
    text-align: center;
}
#filterdiv .filter-item label {
    display: block;
}
#filterdiv input[type=checkbox] {
    float: right;
}
.type + label {
    color: #888;
}
:not(.rarity) + label {
    /*width: 60%;*/
}
.levfilter {
    width: 30px;
    border-radius: 9px;
}

.background-icon {
    padding-left: 24px;
    background-repeat: no-repeat;
}
.background-icon.Female,
.background-icon.Male {
    background-position: 4px 0;
}
.background-icon.Female { background-image: url(https://cdn3.iconfinder.com/data/icons/fatcow/16/female.png); }
.background-icon.Male { background-image: url(https://cdn3.iconfinder.com/data/icons/fatcow/16x16_0560/male.png); }
.background-icon.Asura { background-image: url(https://wiki.guildwars2.com/images/1/1f/Asura_tango_icon_20px.png); }
.background-icon.Charr { background-image: url(https://wiki.guildwars2.com/images/f/fa/Charr_tango_icon_20px.png); }
.background-icon.Human { background-image: url(https://wiki.guildwars2.com/images/e/e1/Human_tango_icon_20px.png); }
.background-icon.Norn { background-image: url(https://wiki.guildwars2.com/images/3/3d/Norn_tango_icon_20px.png); }
.background-icon.Sylvari { background-image: url(https://wiki.guildwars2.com/images/2/29/Sylvari_tango_icon_20px.png); }
.background-icon.Elementalist { background-image: url(https://wiki.guildwars2.com/images/a/aa/Elementalist_tango_icon_20px.png); }
.background-icon.Engineer { background-image: url(https://wiki.guildwars2.com/images/2/27/Engineer_tango_icon_20px.png); }
.background-icon.Guardian { background-image: url(https://wiki.guildwars2.com/images/8/8c/Guardian_tango_icon_20px.png); }
.background-icon.Mesmer { background-image: url(https://wiki.guildwars2.com/images/6/60/Mesmer_tango_icon_20px.png); }
.background-icon.Necromancer { background-image: url(https://wiki.guildwars2.com/images/4/43/Necromancer_tango_icon_20px.png); }
.background-icon.Ranger { background-image: url(https://wiki.guildwars2.com/images/4/43/Ranger_tango_icon_20px.png); }
.background-icon.Revenant { background-image: url(https://wiki.guildwars2.com/images/b/b5/Revenant_tango_icon_20px.png); }
.background-icon.Thief { background-image: url(https://wiki.guildwars2.com/images/7/7a/Thief_tango_icon_20px.png); }
.background-icon.Warrior { background-image: url(https://wiki.guildwars2.com/images/4/43/Warrior_tango_icon_20px.png); }

#content {
    display: flex;
    height: 100%;
}
.account {
    border-right: 1px dotted #888;
}
h2 {
    margin-bottom: 0;
}
h6 {
    margin-top: 0;
    margin-bottom: 10px;
}
.characters {
    display: flex;
}
.character {
    position: relative;
    min-width: 210px;
    width: 210px;
}
.charbg {
    position: absolute;
    left: 0;
    top: -45px;
    height: auto;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}
.spec img {
    margin: 0 2px;
}
.stuff,
.bag,
.banktabs,
.matstabs {
    margin: 0 auto 10px auto;
    line-height: 0;
}
.stuff {
    box-shadow: 0px 20px 2px -19px #CCC;
}
.banktabs,
.matstabs {
    width: 360px;
}
.item {
    display: inline-block;
    position: relative;
    height: 32px;
    width: 32px;
    border: 2px solid #fff;
    border-radius: 3px;
    border-width: 2px 0 0 2px;
    overflow: visible;
    margin: 1px 1px 0 1px;
    padding: 0;
    line-height: initial;
}
.item img {
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    width: 32px;
}
.item:hover img {
    top: -25%;
}
.r_Empty {
    border-color: #000;
    opacity: .2;
}
.r_Basic {
    border-color: #FFF;
}
.r_Junk {
    border-color: #AAA;
}
.r_Fine {
    border-color: #62A4DA;
}
.r_Masterwork {
    border-color: #1A9306;
}
.r_Rare {
    border-color: #FCD00B;
}
.r_Exotic {
    border-color: #FFA405;
}
.r_Ascended {
    border-color: #FB3E8D;
}
.r_Legendary {
    border-color: #4C139D;
}
.r_Unknown {
    border-color: red;
}
.Empty {
    color: black;
}
.Junk {
    color: #AAA;
}
.Basic {
    color: #FFF;
}
.Fine {
    color: #62A4DA;
}
.Masterwork {
    color: #1A9306;
}
.Rare {
    color: #FCD00B;
}
.Exotic {
    color: #FFA405;
}
.Ascended {
    color: #FB3E8D;
}
.Legendary {
    color: #4C139D;
}
.Unknown {
    color: red;
}
.count {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1px;
    color: #fff;
    font-size: 85%;
    text-align: right;
    text-shadow: 1px 1px black;
}
.item:hover .count, .item:hover img {
    position: absolute;
    width: 150%;
    left: -25%;
    z-index: 1;
}
.item:hover img {
    height: 150%;
}
.item:hover .count {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: -25%;
}
#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #333;
    box-shadow: -1.5px -1.5px 3px rgba(0, 0, 0, .25);
    padding: 0 8px;
    text-align: right;
    z-index: 2;
}